<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <title>Coffee Order Admin</title>
</head>
<body>
<h1 class="header">Coffee Order Admin</h1>
<div class="container-fluid">
    <h3>상품 수정</h3>
    <form th:action="@{'/products/update/'+${product.productId}}" method="post">
        <div class="mb-3">
            <label class="form-label">상품 ID</label>
            <div th:text="${product.productId}"></div>
        </div>
        <div class="mb-3">
            <label for="inputProductName" class="form-label">상품 이름</label>
            <input type="text" name="productName" th:value="${product.productName}" class="form-control" id="inputProductName">
        </div>
        <div class="mb-3">
            <label for="inputCategory" class="form-label">카테고리</label>
            <div>
                <select name = "category" th:value="${product.category}" id="inputCategory">
                    <option th:each="category : ${categories}"
                            th:selected="${category == product.category}"
                            th:value="${category}"
                            th:text="${category}"></option>
                </select>
            </div>
        </div>
        <div class="mb-3">
            <label for="inputPrice" class="form-label">가격(원)</label>
            <input type="number" name="price" th:value="${product.price}" class="form-control" id="inputPrice">
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">상품 상세</label>
            <textarea  name="description" th:value="${product.description}" rows="3" class="form-control" id="description"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">수정</button>
        <a th:href="@{'/products/'+${product.productId}}" class="btn btn-secondary">이전으로</a>
    </form>
</div>
</body>
</html>