<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <title>Coffee Order Admin</title>
</head>
<body>
<h1 class="header">Coffee Order Admin</h1>
<div class="container-fluid">
    <h3>주문 상세 조회</h3>
    <div class="card">
        <div th:text="${order.orderId}" class="card-header"></div>
        <div class="card-body">
            <h5 th:text="${order.email}" class="card-title"></h5>
            <p th:text="${'주소: '+order.address}" class="card-text"></p>
            <p th:text="${'우편번호: '+order.postcode}" class="card-text"></p>

            <p th:text="${'배송 상태: '+order.orderStatus.getKorName()}" class="card-text"></p>


            <p th:text="${'생성일: '+order.createdAt}" class="card-text"></p>
            <p th:text="${'수정일: '+order.updatedAt}" class="card-text"></p>

            <div class="btn-area">
                <a th:href="@{/orders}" class="btn btn-secondary">이전으로</a>
            </div>
        </div>
    </div>
    <div class="order-item-table">
        <h4>주문 상품</h4>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">상품 ID</th>
                <th scope="col">상품 이름</th>
                <th scope="col">카테고리</th>
                <th scope="col">가격</th>
                <th scope="col">수량</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="orderItem: ${order.getOrderItems()}" th:object="${orderItem}" >
                <td th:text="*{productId}"></td>
                <td th:text="*{productName}"></td>
                <td th:text="*{category}"></td>
                <td th:text="*{price+'원'}"></td>
                <td th:text="*{quantity}"></td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
</body>
</html>