.header {
    padding: 5px 10px;
    width: 100%;
    border-bottom: 1px solid silver;
}

.service-description {
    margin-bottom: 10px;
}

.btn-area {
    display: flex;
}

.order-table{
    padding: 10px;
    border: 1px solid silver;
    border-radius: 10px;
}