.header {
    padding: 10px;
    font-size: 35px;
    font-weight: bold;
    background: #03001c;
}

.logo {
    margin: 10px;
    color: white;
    text-decoration: none;
}
.logo:hover{
    text-emphasis: none;
    text-decoration: none;
    color: white;
}

.content-area {
    margin-top: 30px;
}

.products {
    width: 100%;
}

.description {
    color: silver;
    font-size: 10px;
}

.search {
    margin: 40px;
    display: flex;
    justify-content: center;
}

.order-list {
    margin: 40px;
}

.main-page-order{
    margin-bottom: 30px;
}

.main-page-order-item {
    color: grey;
    font-size: 15px;
}

.status{
    margin-right: 10px;
    margin-bottom: 20px;
}

.order {
    margin: 30px 0px;
}
.order-info-area {
    margin-bottom: 20px;
}
.order-info-label {
    font-weight: bold;
    margin-bottom: 10px;
}
.order-input {
    margin-right: 10px;
}
.order-button {
    width: 115px;
}

